.peoplePics {
    display: flex;
    flex-wrap: wrap;
}

.clickable {
    cursor: pointer;
    /* position: relative;
    display: inline-block; */
}

/* .clickable img {
    display: block;
} */

/* .popupCorrect {
    color: white;
    background-color: black;
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    transform: translate(0, -50%);
    text-align: center;

} */